*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{
    
}
    .header{
        background: #000;
    }
        .menu{
            background: #43766C ;
        }
            .logo{
                background: #F8FAE5;
            }
            .nav{
                background: #F8FAE5;
            }
            .social{
                background: #F8FAE5;
            }
        .texto-principal{
            background: #f07b3f;
        }    
            .h1{
                background: #fee10c;
            }
    .section{
        background: #000;
    }
        .articulos{
            background: #F9E8D9;
        }
        .article{
            background: #B19470;
        }
        .navegacion{
            background: #76453B ;
        }
        .aside{
            background: #B2A59B;
        }
            .publicidad{
                background: #f3b95f;
            }
    .footer{
        background: #000;
    }